## Python Project Script

In [1]:
import pandas as pd
import json

## Importing the Files

In [2]:
path = 'H:/Advnce_SQL _Python_Project/world_bank_electricity_report/'

In [3]:
access_to_rural = path+'access_to_elec_rural__world/API_EG.ELC.ACCS.RU.ZS_DS2_en_csv_v2_4364070.json'
access_to_urban = path+'access_to_electricity_urban__world/API_EG.ELC.ACCS.UR.ZS_DS2_en_csv_v2_4367536.json'
access_to_world = path+'access_to_electricity__total/API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.json'
transmission_distribution_losses = path+'electricity_power_transmissoin_distribution_losses/API_EG.ELC.LOSS.ZS_DS2_en_csv_v2_4357259.json'
production_by_nuclear = path+'electricity_production_nuclear_sources/API_EG.ELC.NUCL.ZS_DS2_en_csv_v2_4357319.json'
production_by_oil = path+'electricity_production_oil_sources/API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.json'
production_by_renewable =  path+'electricity_production_renewable_sources/API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.json'

## Reading the JSON files

In [4]:
access_to_rural_1= pd.read_json(access_to_rural)
access_to_urban_1 = pd.read_json(access_to_urban)
access_to_world_1 = pd.read_json(access_to_world)
transmission_distribution_losses_1 =pd.read_json(transmission_distribution_losses)
production_by_nuclear_1 = pd.read_json(production_by_nuclear)
production_by_oil_1 = pd.read_json(production_by_oil)
production_by_renewable_1 = pd.read_json(production_by_renewable)

## All Data from JSON file

In [5]:
df_data = [access_to_rural_1,access_to_urban_1,access_to_world_1,transmission_distribution_losses_1,
           production_by_nuclear_1,production_by_oil_1,production_by_renewable_1]

In [6]:
num_col=[]
for i in range(1960,2022):
    num_col.append(i)
cat_col=['Country_Name','Country_Code','Indicator_Name','Indicator_Code']
col = cat_col + num_col

## Dropping Unnesscary Columns and Values

In [7]:
for df in df_data:
    df.drop(0,axis  = 0 , inplace = True)
    df.drop(66, axis = 1 , inplace = True)
    df.columns = col
    df.drop(1,axis = 0 , inplace = True)
    df.reset_index(inplace = True)
    df.drop('index',axis = 1 ,inplace = True)

In [8]:
df_data[1]

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,100,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.9452771502516,67.1122062807782,66.2834263727233,67.0802345160891,69.1322924194883,70.9285671571016,71.8661360685467,73.3328420364472,73.9429490467264,NaN
2,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95,92.2590484619141,98.6999969482422,92.5,99.5,99.5,99.6260223388672,99.5,99.5,NaN
3,Africa Western and Central,AFW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.6990973259095,78.8486136952441,79.52923504769,78.2478757011491,81.5715174202803,,,,83.220064935553,NaN
4,Angola,AGO,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,70.4634704589844,68.662223815918,51,64,67.9733963012695,69.4111709594727,65.2699966430664,72.2771835327148,73.7089157104492,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8899993896484,100,99.8600006103516,99.9300003051758,99.8000030517578,100,,99.9000015258789,,NaN
262,"Yemen, Rep.",YEM,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.4911727905273,98.5,95.9199981689453,93.0756988525391,92.9348754882813,92.9834136962891,,93.0709533691406,93.1134567260742,NaN
263,South Africa,ZAF,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.5486831665039,87.7326202392578,87.9051208496094,88.0680847167969,88.2234115600586,88.3730239868164,88.5188140869141,88.6627044677734,88.806266784668,NaN
264,Zambia,ZMB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.1433067321777,61.3586006164551,61.5,67.6999969482422,69.9614105224609,75.1999969482422,76.4618759155273,79.4621047973633,82.3826217651367,NaN
265,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.4305267333984,85.4591522216797,83.4000015258789,81.1999969482422,85.4839935302734,85.4782867431641,85.4687652587891,85.4573364257813,85.7154769897461,NaN

## Changing the relevant datatypes

In [9]:
for i in num_col:
    df[i] = pd.to_numeric(df[i],errors='coerce')

## Null Values To Zero

In [10]:
for df in df_data:
    df.fillna(0,inplace=True)

## Stacking Up Year Column into single Column

In [11]:
for i in range(0,7):
    df_data[i] = df_data[i][cat_col].merge(df_data[i].set_index('Country_Code')[num_col].stack().reset_index(),on='Country_Code')
    df_data[i] = df_data[i].rename(columns = {'level_1':'Year',0:'d_point'})

In [12]:
df_data[1]

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,d_point
0,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1960,0.0
1,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1961,0.0
2,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1962,0.0
3,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1963,0.0
4,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,1964,0.0
...,...,...,...,...,...,...
16487,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2017,85.4782867431641
16488,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2018,85.4687652587891
16489,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2019,85.4573364257813
16490,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2020,85.7154769897461
16491,Zimbabwe,ZWE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2021,0.0

## Importing it into CSV

In [13]:
file =['access_to_rural','access_to_urban','access_to_world','transmission_distribution_losses',
            'production_by_nuclear','production_by_oil','production_by_renewable']

In [14]:
path_1 = 'H:/Advnce_SQL _Python_Project/'

In [15]:
for i in range(7):
    df_data[i].to_csv(path_1+file[i]+'.csv',index = False)